.pragmatic_logo {
  font-family: "Otomanopee One", sans-serif;
}

.pragmatic_header {
  text-align: center;
  margin: 2rem 0;
}

.pragmatic_footer {
  text-align: center;
  margin-top: 2rem;
}

.pragmatic_footer_font_size {
  font-size: 0.8rem;
}
